.Weather {
  border: 1px solid #dadde1;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  color: rgb(135, 135, 135);
  background: linear-gradient(
    67.7deg,
    rgb(252, 185, 125) -0.9%,
    rgb(245, 231, 106) 22.8%,
    rgb(160, 236, 208) 50.3%,
    rgb(57, 178, 209) 75.5%,
    rgb(183, 174, 193) 100.2%
  );
}

.Weather h1 {
  color: #878787;
  display: block;
  margin: 20px 0 0;
  font-size: 30px;
  font-weight: 100;
  line-height: 29px;
  text-align: center;
}

.Weather ul {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .units {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  line-height: 1;
}
